body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
/* Navbar */
.navbar{
    height: 3.5rem;
    background-color:#e2f7e5;
}
@media(max-width:767.9px){
    .navbar-nav{
        height: 8rem;
        background-color: #e2f7e5;
    }
}
.fa-house{
    color: #185a30;
    font-size: 1.5rem;
    padding-left: 2rem;
}
.nav-link{
    color:  #185a30!important;
}

/* Footer */
.f-info-links a{
   text-decoration: none;
   color: #185a30;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-links a{
    margin-right: 1rem;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info{
    display: flex;
    height: 8rem;
    background-color: #f5fbeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 1.5rem;
    background-color: rgb(245, 247, 232) !important;
    border-radius: 2rem !important;
}
.listing-card:hover{
    background-color: #bfe9c5 !important;
}
.card-img-top{
    border-radius: 2rem !important;
    width: 100% !important;
    object-fit: cover!important;
    padding: 0.8rem ;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    font-weight: 400;
    padding-left: 2rem;
    padding-bottom: 1rem;
}
.listing-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* Form  */
.btn-custom{
    background-color:  #185a30 !important;
    border: none !important;
}

/* Show  */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

/* Map */
#map { 
    height: 400px;
    width:85vh;
 }
 .custom-marker {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Custom icon style */
.marker-icon {
    width: 80px;
    height: 80px;
    background-color: rgb(209, 170, 177);
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inner-icon {
   height: 32px;
   width: 32px;
   background-color:#185a30;
   border-radius: 50%;
   border: none;
   font-size: 20px; 

}
.icon i {
    color: #f5f3f3 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-popup{
  background-color:#185a30 !important; 
  padding: 10px;
  border-radius: 5px;
  color: #FFF; 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

}
.mapboxgl-popup-content {
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    padding: 0 0 0 !important; 
    pointer-events: auto;
    position: relative;
}

#filters{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
}
.scrolling-wrapper{
	overflow-x: auto;
}
::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(166, 166, 120, 0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #185a30; 
    -webkit-box-shadow: inset 0 0 6px rgba(252, 236, 236, 0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background:#185a30; 
}
.filter{
    text-align: center;
    margin-right: 1rem;
    margin-top: 0.1rem;
    opacity: 0.6;
    font-size: 1rem;
}
.filter p{
    font-size: 0.8rem;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
    background-color: #bfe9c5;
    border-radius: 25px;
}

.tax-info{
    display:none;
}
.tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.btn-search{
    background-color:#185a30!important;
    color: white !important;
    border-radius: 28px !important;
    padding: 0 1rem 0 1rem !important;
    height: 2rem;
    margin-top: 0.5rem;
}
.btn-search :hover {
    background-color: #288f4e;
    color: white;
}
.btn-search i {
    display: inline;
    margin-right: 0.5rem;
}
.search-input{
    border-radius: 25px !important;
    padding: 0.5rem 3rem 0.5rem 3rem !important;
    height: 2rem;
    margin-top: 0.5rem;
}



